/*!
Styles for team newby fitness
*/
/* =============================================================================
  RESETS
============================================================================= */
html,
body,
div,
h1,
p,
a,
video {
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: Graphik;
    font-weight: 100;
    font-style: normal;
    src: url(../fonts/Graphik/Graphik-Thin.ttf);
}
@font-face {
    font-family: Graphik;
    font-weight: 100;
    font-style: italic;
    src: url(../fonts/Graphik/Graphik-Thin Italic.ttf);
}
@font-face {
    font-family: Graphik;
    font-weight: 900;
    font-style: normal;
    src: url(../fonts/Graphik/Graphik-Super.ttf);
}
@font-face {
    font-family: Graphik;
    font-weight: 900;
    font-style: italic;
    src: url(../fonts/Graphik/Graphik-Super Italic.ttf);
}
@font-face {
    font-family: Graphik;
    font-weight: 600;
    font-style: normal;
    src: url(../fonts/Graphik/Graphik-Semibold.ttf);
}
@font-face {
    font-family: Graphik;
    font-weight: 600;
    font-style: italic;
    src: url(../fonts/Graphik/Graphik-Semibold Italic.ttf);
}
@font-face {
    font-family: Graphik;
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/Graphik/Graphik-Regular.ttf);
}
@font-face {
    font-family: Graphik;
    font-weight: 400;
    font-style: italic;
    src: url(../fonts/Graphik/Graphik-Regular Italic.ttf);
}
@font-face {
    font-family: Graphik;
    font-weight: 500;
    font-style: normal;
    src: url(../fonts/Graphik/Graphik-Medium.ttf);
}
@font-face {
    font-family: Graphik;
    font-weight: 500;
    font-style: italic;
    src: url(../fonts/Graphik/Graphik-Medium Italic.ttf);
}
@font-face {
    font-family: Graphik;
    font-weight: 300;
    font-style: normal;
    src: url(../fonts/Graphik/Graphik-Light.ttf);
}
@font-face {
    font-family: Graphik;
    font-weight: 300;
    font-style: italic;
    src: url(../fonts/Graphik/Graphik-Light Italic.ttf);
}
@font-face {
    font-family: Graphik;
    font-weight: 200;
    font-style: normal;
    src: url(../fonts/Graphik/Graphik-Extralight.ttf);
}
@font-face {
    font-family: Graphik;
    font-weight: 200;
    font-style: italic;
    src: url(../fonts/Graphik/Graphik-Extralight Italic.ttf);
}
@font-face {
    font-family: Graphik;
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/Graphik/Graphik-Bold.ttf);
}
@font-face {
    font-family: Graphik;
    font-weight: 700;
    font-style: italic;
    src: url(../fonts/Graphik/Graphik-Bold Italic.ttf);
}
@font-face {
    font-family: Graphik;
    font-weight: 800;
    font-style: normal;
    src: url(../fonts/Graphik/Graphik-Black.ttf);
}
@font-face {
    font-family: Graphik;
    font-weight: 800;
    font-style: italic;
    src: url(../fonts/Graphik/Graphik-Black Italic.ttf);
}

/* =============================================================================
  HTML, BODY
============================================================================= */
html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: "Graphik", "Arial", sans-serif;
  line-height: 1.5;
}

/* =============================================================================
  CONTENT
============================================================================= */
.content {
  position: relative;
  top: 30%;
  z-index: 2;
  margin: 0 auto;
  text-align: center;
}

.content__heading {
  margin-bottom: 24px;
  color: white;
  font-size: 44px;
}

.content__teaser {
  margin-bottom: 24px;
  color: #595959;
  font-size: 22px;
}

.content__cta {
  display: inline-block;
  margin: 0;
  padding: 12px 48px;
  color: #ff3c64;
  font-size: 22px;
  text-decoration: none;
  border: solid 4px #ff3c64;
}

/* =============================================================================
  VIDEO
============================================================================= */
.video {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.video-placeholder {
    display: none;
}

.header, .footer {
    height: 100px;
    width: 100%;
    background: black;
    color: white;
    position: fixed;
    z-index: 2;
}

.header {

}

.footer {
    bottom: 0;
}

.logo {
    height: 90px;
    top: 12px;
    display: block;
    margin: 0 auto;
    position: relative;
}


.primary-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 25px;
}

.mobile-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 25px;
    display: none;
}

.primary-nav li, .mobile-nav li {
    float: left;
}

.primary-nav li a, .mobile-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.primary-nav li a:hover, .mobile-nav li a:hover {
    color: #00ff12;
}

.secondary-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 25px;
}

.secondary-nav li {
    float: left;
}

.secondary-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.secondary-nav li a:hover {
    color: #00ff12;
}

.primary-footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    bottom: 25px;
    font-size: 12px;
}

.primary-footer li {
    float: left;
}

.primary-footer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
}

.primary-footer li b {
    padding: 0 16px;
}

.primary-footer li a:hover {
    color: #00ff12;
}

.secondary-footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    bottom: 25px;
    right: 0;
    font-size: 12px;
}

.secondary-footer li {
    float: left;
}

.secondary-footer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
}

.secondary-footer li b, .secondary-footer li span {
    padding: 0 16px;
}

.secondary-footer li a:hover {
    color: #00ff12;
}

.h1-splash {
    font-size: 100px;
    color: white;
    left: 0;
    right: 0;
    font-weight: 900;
}

.primary-button {
    background: #00ff12;
    color: black;
    font-weight: bold;
    height: 50px;
    width: 200px;
    outline: 0;
    border: 0;
    font-size: 28px;
    font-weight: 900;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.class-column {
    width: 30%;
    padding: 0 15px;
    display: inline-block;
    top: -90px;
    position: relative;
}

@media (max-width: 900px) {
    .class-column {
        width: calc(50% - 40px);
    }
}


@media (max-width: 600px) {
    .video, .primary-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
    }

    .video-placeholder {
        display: block;
        background-image: url(../media/gregTrailer.png);
        background-size: cover;
        width: 100%;
        height: inherit;
        background-repeat: no-repeat;
        background-position: center;
        height: calc(100vh - 200px);
        position: fixed;
        width: 100%;
        top: 100px;
    }

    .h1-splash {
        font-size: 50px;
    }

    .secondary-footer {
        display: none;
    }

    .primary-footer {
        margin: 0 auto;
        display: block;
        position: static;
        margin-top: 30px;
    }

    .primary-button {
        margin-top: 50px;
    }

    .class-column {
        width: calc(100% - 30px);
    }
}
